/*
GERAL
*/
body, ul {
    background-color: rgb(66, 66, 66);
    padding: 0; 
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

/*
HEADER
*/
h1 {
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-style: italic;
    color: white;
    font-family: 'Pacifico', cursive;
}

/*
MENU
*/
.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
 
.tenis {
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    position: relative;
    list-style: none;
    transition: all .4s ease-in-out;
}
 
.tenis:hover {
    flex-grow: 10;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
 
.tenis a {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
 
.text {
    font-size: 0;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease-in-out;
}
 
.tenis:hover .text {
    font-size: 32px;
    text-shadow: 2px 2px 12px black;
}
.classico {
    background-image: url(img/tenis-classico.jpg);
}
 
.sneaker {
    background-image: url(img/tenis-sneaker.png);
}
 
.comum {
    background-image: url(img/tenis-comum.jpg);
}
 
 
@media screen and (max-width: 768px) {
 
    .container {
        flex-direction: column;
    }

    .text {
        font-size: 16px;
    }
}

/*
CAMPO DE PEDIDO
*/

section h2 {
    padding: 50px 0 0 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

form a {
    padding: 0 10px 0 10px;
}

form table {
    padding: 10px 30px 10px 30px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(131, 131, 131);

}

tr td th {
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(180, 180, 180);
    color: honeydew;
}

input.quantidade {
    border: none;
    text-align: center;
    background-color: transparent;
}

form a:hover {
    background-color: #6d6d6d6d;
}
 
form a:active {
    background-color: rgb(75, 34, 139);
}
